<div class="player-profile">
	
	<a href="/dream_team">Home</a>

	<div> Name: <%= @player['name'] %></div>
	<div> Age: <%= @player['age'] %> </div>
	<div> Career Goals: <%= @player['goals_scored'] %> </div>
	<div> Career Assists: <%= @player['assists'] %> </div>
	

	<img src="<%= @player['image_url'] %>" alt="">



</div>